
<div class="offcanvas offcanvas-start bg-white" tabindex="-1" id="offcanvasSidebar">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title fw-bold">TS Academy</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <nav class="nav flex-column">
        <a href="/user" class="nav-link text-dark">Overview</a>
          
        <% if (!user.is_affiliate) { %>
                <a href="/affiliate/signup" class="nav-link text-dark">Refer To Earn</a>        
           <% } else { %>
            <a href="/affiliate/dashboard" class="nav-link text-dark">Earnings</a>
         <% } %>


             <% if (user.role == "teacher") { %>
                <a href="/teacher" class="nav-link text-dark">Teacher</a>
              <% } else { %>
              <% } %>

        <a href="/logout" class="nav-link text-danger">Logout</a>
      </nav>
    </div>
  </div>
  