     <header>
       <div class="container">
        <div class="nav">
             <div class="logo"><a href="/"><img class="logo-image" src="./images/logo.png" alt="" srcset=""></a></div>
             
        <div class="navlinks">
            
             <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
            

            <div class="ml-10">
                <a class="btn-basic primary-btn" href="/auth/login">Join project</a>
            </div>

                
    
        </div>
        </div>
       </div>
     </header>