<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="slide.css">
    <title>Home</title>
</head>
<body>
    <!-- nav -->
    <%-include('./partials/nav')  %>


     <main>
        <div class="hero">
          
            <br>
            <br>
            <br>

                       <h1>Almost there! </h1>
                         <h2> check your email to activate account... </h2>

                         <br>
                         <p>Email expires in 30 minutes!</p>

        </div>
      



     </main>

</body>
</html>