<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <!-- nav -->
    <%-include('./partials/nav')  %>


     <main class="mt-5">

       <div class="mt-20">
             <div class="container">
                <h1>More about techathon</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita quidem, cupiditate eveniet provident cumque asperiores dolor pariatur. Eum odio earum repellat rem ea eos, quod sequi accusamus eligendi dolore. Sit.
                </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, magni veritatis sit possimus corporis vel aut. Non hic sapiente, necessitatibus fugit magnam esse omnis atque veniam eos autem quia minima?
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, itaque. Labore nobis accusantium, ex dignissimos, possimus hic adipisci consequatur, cumque deleniti in dolore! Doloribus, officia corporis id nobis necessitatibus amet!
            </p>

            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio fugiat accusantium adipisci minus ex deserunt mollitia ipsa nemo! Maxime excepturi exercitationem mollitia repellendus tempore adipisci eaque veritatis minus autem perspiciatis!
            </p>
            <div class="btn-grp">
                <a class="btn-basic primary-btn" href="/">Home</a>
                <a class="btn-basic secondary-btn" href="/register">Register</a>
                <a class="btn-basic secondary-btn" href="/login">Login</a>
            </div>

      
            </div>
       </div>



     </main>

</body>
</html>