
  <div class="container-fluid vh-100">
    <div class="row h-100">

      <!-- Left Column -->
      <div class="col-md-6 d-flex align-items-center justify-content-center bg-white shadow">
        <div class="w-100 px-4" style="max-width: 450px;">
          <div class="text-center mb-4">
             <img  class="img-fluid mb-3" style="max-height: 60px;" src="/images/checked.png" alt="png">
            
            <p class="text-muted">Your password has been reset successfully.</p>
          </div>


          <div class="d-grid mt-4 mb-3">
            <a href="/auth/login" class="btn btn-success">Go to Login</a>
          </div>

          
        </div>
      </div>

      <!-- Right Column (Quote) -->
      <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center bg-grad text-white p-5">
        <div class="text-center">
          <blockquote class="blockquote">
            <p>"Success is not final, failure is not fatal: It is the courage to continue that counts."</p>
          </blockquote>
          <footer class="blockquote-footer text-white-50 mt-3">— Winston Churchill</footer>
        </div>
      </div>

    </div>
  </div>
