<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    <!-- nav -->
    <%-include('./partials/nav')  %>


     <main>
        <div class="hero">
          
            <div class="container">
                       <h1>Welcome to <span class="primary-text">Techathon</span> ! 
                         <br> Verify your email <span><%=user.email%></span> to Continue</h1>
        

            <div class="btn-grp">
                <a class="btn-basic primary-btn" href="#">Send Verification Code</a>
            </div>

           

            <div class="hero-footer">
                <p>Trusted by fast-growing companies worldwide</p>
            </div>
            </div>
        </div>
      



     </main>

</body>
</html>