
<div class="offcanvas offcanvas-start bg-white" tabindex="-1" id="offcanvasSidebar">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title fw-bold"><a href="/">True Academy</a></h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <nav class="nav flex-column">
        <a href="/user" class="nav-link text-dark">Overview</a>
        <a href="/user/profile" class="nav-link text-dark">Profile</a>
          
        <% if (!user.is_affiliate) { %>
                <a href="/affiliate/signup" class="nav-link text-dark">Refer To Earn</a>
                
            <% } %>
           
         <% if (user.seasonInfo && user.seasonInfo.has_paid) { %>
            <a href="/affiliate/dashboard" class="nav-link text-dark">Earnings</a>
          <% } %>

        <a href="/logout" class="nav-link text-danger">Logout</a>
      </nav>
    </div>
  </div>
  