      <div class="col-md-2 d-none d-md-flex  bg-white text-white p-2">

        <div class="overview">
          <a href="/"><img src="/images/logo.png" alt="Logo" class="img-fluid mb-4" style="max-height: 60px;" /></a>
          <a href="/admin" class="over">
            <i class="fa-solid fa-gauge-high"></i>
            <h4>Overview</h4>
          </a>
      
          <a href="/admin/classes" class="over">
            <i class="fa-solid fa-copy"></i>
            <h4>Classes</h4>
          </a>

            <a href="/admin/referral" class="over">
            <i class="fa-solid fa-copy"></i>
            <h4>Scout locations</h4>
          </a>

          <a href="/logout" class="log">
            <i class="fa-solid fa-right-from-bracket"></i>
            <h4>Logout</h4>
          </a>
        </div>

      </div>