  <div class="offcanvas offcanvas-start bg-white" tabindex="-1" id="offcanvasSidebar">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title fw-bold">TS Academy</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <nav class="nav flex-column">
        <a href="/admin" class="nav-link text-dark">Dashboard</a>
        <a href="/admin/courses" class="nav-link text-dark">Courses</a>
        <a href="/admin/categories" class="nav-link text-dark">Categories</a>

        <a href="/admin/affiliate/applications" class="nav-link text-dark">Affiliate Applications</a>
        <a href="/admin/referral" class="nav-link text-dark">Scout Locations</a>
        <a href="/admin/setting" class="nav-link text-dark">Settings</a>
        <br><br><hr>
        <a href="/logout" class="nav-link text-danger">Logout</a>
      </nav>
    </div>
  </div>