  <div class="bg-white shadow-sm p-3 rounded">
          <h5 class="fw-bold mb-4">Admin Menu</h5>
          <nav class="nav flex-column">
            <a href="/admin" class="nav-link text-dark">Dashboard</a>
            <a href="/admin/seasons" class="nav-link text-dark">Seasons</a>
            <a href="/admin/affiliate/applications" class="nav-link text-dark">Affiliate Applications</a>
            <a href="/admin/referral" class="nav-link text-dark">Scout Locations</a>
            <a href="/admin/setting" class="nav-link text-dark">Settings</a>
            <a href="/logout" class="nav-link text-dark">Logout</a>
          </nav>
        </div>