  <div class="bg-white shadow-sm p-3 rounded">
          <h5 class="fw-bold mb-4">Admin Menu</h5>
          <nav class="nav flex-column">
            <a href="/admin" class="nav-link text-dark">Dashboard</a>
            <a href="/admin/courses" class="nav-link text-dark">Courses</a>
            <a href="/admin/users" class="nav-link text-dark">Users</a>
            <a href="/admin/categories" class="nav-link text-dark">Categories</a>
            <a href="/admin/affiliate/applications" class="nav-link text-dark">Affiliate Applications</a>
            <a href="/admin/referral" class="nav-link text-dark">Scout Locations</a>
            <br>
            <br>
            <a href="/auth/logout" class="nav-link text-danger">Logout</a>
          </nav>
        </div>